.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform provider binaries
terraform-provider-*

# AWS credentials
.aws/
credentials
config

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
